jwt_key: "{{ .JWT_KEY | required }}"
encryption_key: "{{ .ENCRYPTION_KEY | required }}"

pg:
  host: "{{ .POSTGRES_HOST | default "postgres" }}"
  port: 5432
  user: "{{ .POSTGRES_USER | required }}"
  password: "{{ .POSTGRES_PASSWORD | required }}"
  dbname: "{{ .POSTGRES_DB | required }}"

email:
  smtp_server: "{{ .SMTP_SERVER | required }}"
  smtp_port: {{ .SMTP_PORT | required }}
  username: "{{ .SMTP_USERNAME | required }}"
  password: "{{ .SMTP_PASSWORD | required }}"
  sender_name: "{{ .SMTP_SENDER_NAME | default "Itchan" }}"
  timeout: 10

allowed_refs:{{ if not .ALLOWED_REFS }} []{{ else }}
{{ range (.ALLOWED_REFS | split ",") }}  - {{ . }}
{{ end }}{{ end }}
