{{define "title"}}Itchan - /{{ .Board.ShortName }}{{end}}
{{ define "content" }}
    <h2>Board /{{ .Board.ShortName }}/ - {{ .Board.Name }}</h2>

    <div class="form-container">
        <h3>Create New Thread</h3>
        <form action="/{{ .Board.ShortName }}" method="post">
            <div class="form-group">
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" required>
            </div>
            <div class="form-group">
                <label for="text">Message:</label>
                <textarea id="text" name="text" rows="4" required></textarea>
            </div>
            <div class="form-group">
                <button type="submit">Create Thread</button>
            </div>
        </form>
    </div>

    <h2>Threads</h2>
    <ul class="thread-list">
        {{ range .Board.Threads }}
        <li class="thread-preview">
            <h3 class="thread-title"><a href="/{{ .Board.ShortName }}/{{ .Id }}" class="thread-link">{{ .Title }}</a></h3>
            {{ if .Messages }}
                {{ range $index, $msg := .Messages }}
                    {{ if gt $index 0 }} <hr/> {{ end }}
                    <div class="message-item">
                        <span class="message-author">Anonymous</span>
                        <span class="message-date">{{ $msg.CreatedAt.Format "2006-01-02 15:04" }}</span>
                        <p class="message-text">{{ $msg.Text }}</p>
                        {{ if $msg.Attachments }}
                            <p>Attachments:
                            {{ range $msg.Attachments }}
                                <a href="{{ . }}" target="_blank">{{ . }}</a>
                            {{ end }}
                            </p>
                        {{ end }}
                    </div>
                {{ end }}
            {{ else }}
                <p>No messages in this thread.</p>
            {{ end }}
            <p><a href="/{{ .Board.ShortName }}/{{ .Id }}" class="thread-link">View all replies ({{ .NumReplies }})</a></p>
        </li>
        {{ else }}
        <li>No threads in this board yet.</li>
        {{ end }}
    </ul>
{{ end }}