{{define "title"}}/{{ .Data.ShortName }}/ - {{ .Data.Name }}{{end}}
{{- define "content"}}
    <div class="board-header">
        <h1><a href="/{{ .Data.ShortName }}">/{{ .Data.ShortName }}/ - {{ .Data.Name }}</a></h1>
        <hr>
    </div>

    {{- if .Common.User}}
    <!-- New Thread Form -->
    <div class="post-form-container">
        <form action="/{{ .Data.ShortName }}" method="post" id="new-thread-form" enctype="multipart/form-data">
             {{- template "csrf-field" .Common}}
             <input type="hidden" name="form_action" value="new_thread">
             <table class="form-table">
                 <tbody>
                     <tr>
                         <td class="form-label"><label for="title">Subject:</label></td>
                         <td>
                             <input type="text" id="title" name="title" size="40" maxlength="{{.Common.Validation.ThreadTitleMaxLen}}">
                             <button type="submit">Post</button>
                         </td>
                     </tr>
                     <tr>
                         <td class="form-label"><label for="text">Comment:</label></td>
                         <td><textarea id="text" name="text" cols="48" rows="4" maxlength="{{.Common.Validation.MessageTextMaxLen}}"></textarea></td>
                     </tr>
                     <tr>
                         <td class="form-label"><label for="attachments">File:</label></td>
                         <td>{{template "file-input" dict "InputID" "attachments" "MaxCount" .Common.Validation.MaxAttachmentsPerMessage "MaxTotalSize" .Common.Validation.MaxTotalAttachmentSize "MaxFileSize" .Common.Validation.MaxAttachmentSizeBytes "AllowedImages" .Common.Validation.AllowedImageMimeTypes "AllowedVideos" .Common.Validation.AllowedVideoMimeTypes}}</td>
                     </tr>
                     <tr>
                         <td class="form-label"></td>
                         <td><label><input type="checkbox" name="show_company"> Show my company</label></td>
                     </tr>
                 </tbody>
             </table>
        </form>
    </div>
    {{- else}}
    <p><a href="/login">Log in</a> to post.</p>
    {{- end}}

    <hr class="section-separator">

    <div class="threads-container">
        {{- range $threadIndex, $thread := .Data.Threads}}
            {{- if gt $threadIndex 0}}
                <hr class="thread-separator">
            {{- end}}

            <div class="thread-preview">
                {{- if $thread.Messages}}
                    {{- $opMessage := index $thread.Messages 0}}
                    {{- template "post" (postData $opMessage $.Common)}}

                    {{- /* Display Reply Previews (rest of the messages) */ -}}
                    {{- $previewReplies := slice $thread.Messages 1}}
                    {{- range $replyIndex, $reply := $previewReplies}}
                        {{- template "post" (postData $reply $.Common)}}
                    {{- end}}

                    {{- if gt $thread.OmittedReplies 0}}
                         <div class="reply-summary">
                            {{ $thread.OmittedReplies }} {{if eq $thread.OmittedReplies 1}}post{{else}}posts{{end}} omitted.
                         </div>
                    {{- end}}
                {{- else}}
                    <p>Thread {{ $thread.Id }} has no messages.</p>
                {{- end}}
            </div>
        {{- else}}
            <p>No threads on this board yet. Why not create one?</p>
        {{- end}}
    </div>

    {{- template "pagination" .Data.Page}}

    {{- if .Common.User}}{{- template "popup-reply-form" .Common}}{{- end}}
{{- end}}
