{{define "title"}}Home{{end}}
{{define "content"}}
<h1>Boards</h1>
{{if .Boards}}
<ul class="boards-list">
    {{range .Boards}}
    <li>
        <a href="/{{.ShortName}}">/{{.ShortName}}/ - {{.Name}}</a>
        {{if $.User.Admin}}
        {{template "delete-button" dict "Action" (printf "/%s/delete" .ShortName) "ConfirmMessage" (printf "Are you sure you want to delete /%s/?" .ShortName) "ButtonText" "Delete"}}
        {{end}}
    </li>
    {{end}}
</ul>
{{else}}
<p>No boards found.</p>
{{end}}

{{if .User.Admin}}
<hr class="section-separator">
<div class="admin-panel">
    <h2>Create New Board</h2>
    <form method="POST" action="/">
        <table class="form-table">
            <tbody>
                <tr>
                    <td class="form-label"><label for="short-name">Short Name:</label></td>
                    <td><input type="text" id="short-name" name="shortName" required pattern="[a-zA-Z0-9]+" size="10" maxlength="{{.Validation.BoardShortNameMaxLen}}"> (e.g., 'b', 'g', 'gog')</td>
                </tr>
                 <tr>
                    <td class="form-label"><label for="name">Full Name:</label></td>
                    <td><input type="text" id="name" name="name" required size="30" maxlength="{{.Validation.BoardNameMaxLen}}"> (e.g., 'Random', 'Technology')</td>
                </tr>
                 <tr>
                    <td class="form-label"><label for="allowed-emails">Allowed Emails:</label></td>
                    <td><textarea id="allowed-emails" name="allowedEmails" rows="3" cols="50" placeholder="Optional, comma-separated"></textarea></td>
                </tr>
                 <tr>
                    <td class="form-label"></td>
                    <td><button type="submit">Create Board</button></td>
                </tr>
            </tbody>
        </table>
        {{template "error-message" .}}
    </form>
</div>
{{end}}
{{end}}
