{{define "title"}}Вопрос{{end}}
{{define "content"}}
<div style="text-align: center; margin-top: 5em;">
    <h2 style="font-size: 2em; margin-bottom: 1.5em;">Алиночка, ты будешь моей девушкой?</h2>
    <div style="display: flex; gap: 2em; justify-content: center; margin-top: 2em;">
        <a href="/static/creampie.webp">
            <button type="button" style="font-size: 1.5em; padding: 1em 2em; cursor: pointer;">Да</button>
        </a>
        <a href="/static/creampie.webp">
            <button type="button" style="font-size: 1.5em; padding: 1em 2em; cursor: pointer;">Конечно</button>
        </a>
    </div>
</div>
{{end}}
